/*
colores

    azul
#120078
    morado
#9d0191
    rojo-naranja
#fd3a69
    maiz
#fecd1a
    verde-agua
#9ad3bc

font
https://fonts.google.com/specimen/Playfair+Display?sidebar.open=true&selection.family=Playfair+Display:ital,wght@0,600;1,800

*/

*{
    font-family: 'Playfair Display', serif;
}


.header-fondo{
    height: 4em;
    padding: 1em;
    font-size: 20px;
    letter-spacing: 5px;
    color: #120078;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #ff8504 0%, #ff0000 25%, #fec2a9 50%, #faa16d 75%, #f300fb 100%);
    border-image-slice: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #DEDEDE; 
    box-shadow: 5px 5px 15px 5px #DEDEDE;
    margin-bottom: 2em;

}

.footer-fondo{
    color: #fd3a69;
    padding: 1em;
    border: 4px solid #fd3a69;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom left, #ff8504 0%, #fc9fff 25%, #ff1515 50%, #faa16d 75%, #f300fb 100%);
    border-image-slice: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #DEDEDE; 
    box-shadow: 5px 5px 15px 5px #DEDEDE;
    margin-top: 2em;
}

.ppal{
    border: 2px solid #ff1087;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 15px 5px #DEDEDE; 
    box-shadow: 5px 5px 15px 5px #DEDEDE;
}

.label-color{
    letter-spacing: 1px;
    color: #120078;

}

.sitio-color{
    letter-spacing: 1px;
    color: #120078;
}



.button-color{
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 10px;
    background: rgb(255, 105, 92);
    background: -moz-linear-gradient(90deg, rgb(255, 105, 92) 27%, rgb(255, 184, 163) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 105, 92) 27%, rgb(255, 184, 163) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 105, 92) 27%, rgb(255, 184, 163) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 105, 92) 27%, rgb(255, 184, 163) 100%);
    background: linear-gradient(0deg, rgb(255, 105, 92) 27%, rgb(255, 184, 163) 100%);
    -webkit-box-shadow: 0px 7px 10px rgba(48, 50, 50, 0.53);
    -moz-box-shadow:    0px 7px 10px rgba(48, 50, 50, 0.53);
    box-shadow:         0px 7px 10px rgba(48, 50, 50, 0.53);
    margin-bottom: 1em;
}

.input-color{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;

}



